.divTable
{
    display: table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    float: left;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
       margin-right: 20px;
	display: inline;
    position:relative;
}

.divRow
{
   display:table-row;
   width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
}

.divCell-like {
	float:left;/*fix for  buggy browsers*/
    width:36px;
    height:48px;
}
