<template name="AppNav">
    <div class="app-nav">
        <ul>
            <li><a class="list-group-item" href="/story"><img src="/story.svg" width="75" height="25"> <span>Story</span></a></li>
            <li><a class="list-group-item" href="/leaderboard_dash"><img src="/rules.svg" width="75" height="25"> <span>Rules</span></a></li>
            <li><a class="list-group-item" href="/map"><img src="/map.svg" width="75" height="25"> <span>Map</span></a></li>
            <li><a class="list-group-item" href="/characters"><img src="/secret.svg" width="75" height="25"> <span>Character info</span></a></li>
            <li><a class="list-group-item" href="/kahoot"><img src="/kahoot.svg" width="75" height="25"> <span>Kahoot</span></a></li>
            <li><a class="list-group-item" href="/message"><img src="/message.svg" width="75" height="25"> <span>Message</span></a></li>
        </ul>
    </div>
</template>
