<template name="AppNav">
    <div class="app-nav">
        <ul>
            <li><a class="list-group-item" href="#"><i class="fa fa-map"></i> <span>Map</span></a></li>
            <li><a class="list-group-item" href="#"><i class="fa fa-users"></i> <span>Team points</span></a></li>
            <li><a class="list-group-item" href="#"><i class="fa fa-battery-3"></i> <span>Energy level</span></a></li>
            <li><a class="list-group-item" href="#"><i class="fa fa-user-plus"></i> <span>Character info</span></a></li>
            <li><a class="list-group-item" href="#"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a></li>
        </ul>
    </div>
</template>