<template name="character">
  <!-- <li>
    <h6>Adriana Santos Martins</h6>
    <img src='/nb22380.jpg'/>
    <div class='row'>
      <div class='col-md-6'>Pontos</div>
      <div class='col-md-6 text-right'>2650</div>
    </div>
    <div class='row'>
      <div class='col-md-6'>People</div>
      <div class='col-md-6 text-right'>8</div>
    </div>
    <div class='row'>
      <div class='col-md-6'>Communication</div>
      <div class='col-md-6 text-right'>6</div>
    </div>
    <div class='row'>
      <div class='col-md-6'>Management</div>
      <div class='col-md-6 text-right'>7</div>
    </div>
    <div class='row'>
      <div class='col-md-6'>ProblemSolving</div>
      <div class='col-md-6 text-right'>7</div>
    </div>
    <div class='row'>
      <div class='col-md-6'>Android</div>
      <div class='col-md-6 text-right'>2</div>
    </div>
  </li> -->
</template>
