@import 'sass/_normalize.scss';
@import 'sass/_base.scss';


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px;
}

.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}


.header {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    border-style: solid;
        border-width: 3px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: #fff;
        color: #fff;
    }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}

.user_id {
    color: $blue;
    cursor: pointer;
}

img.map-center {
width: 70%;
float: left;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    
    overflow-y: auto;
}

.modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }

    .tabs-container .tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li2 {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li2.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li2 a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-left:40px;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 700px;
    padding: 20px;
    display: none;
}

.storycont {
    display: block; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    width: 700px;  
    margin: auto; 
    display-text:center;
}

 /* Custom fixed navs */

   header.navbar+nav.navbar{
   /* margin-top: 20px;same margin-bottom .navbar */
   }
   .navbar.navbar-default.navbar-fixed-top{
   margin-top: 50px;
   }
   .sidebar.navbar-fixed-top{
    margin-top: 0px;
    background-color: transparent;
    border-color: transparent;
   }

   @media (min-width: 768px) and (max-width: 998px){
       .navbar.navbar-default.navbar-fixed-top{
       margin-top: 100px;
       }
       .sidebar.navbar-fixed-top{
        margin-top: 0px;
       }
    }

  /* Custom navbar default: global*/

  .navbar.navbar-default{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin: 0;
    border-radius: 0;
  }
  .navbar.navbar-default .navbar-brand {
    color: #666;
    text-shadow: none;
    min-width: 150px;
    }
   .navbar.navbar-default .navbar-nav > li > a {
    color: #666;
    text-shadow: none;
    }
    .navbar.navbar-default .navbar-nav > li > a {
    color: #666;
    text-shadow: none;
    }
    .navbar.navbar-default .navbar-nav > li > a:hover{
    color: #acc47f;
    }
    .navbar.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background-color: #acc47f;
    }
    .navbar.navbar-default .navbar-nav > .active > a:hover{
    color: #608224;
    background-color: #acc47f;
    }
    .navbar.navbar-default .caret {
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    }
    .navbar.navbar-default .caret:hover {
    border-top-color: #333;
    border-bottom-color: #333;
    }


/* Custom sidebar menu */

 /*Remove rounded coners*/

  nav.sidebar.navbar {
    border-radius: 0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
            min-width: 100px;
    }

    /*custom sidebar nav*/
        nav.sidebar ul.nav.navbar-nav{
            margin: 0;
        }
        nav.sidebar.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: white;
        }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }
    /*adds background on hover*/
    nav.sidebar .navbar-nav > li:hover{
        color: #fff;
            background-color: #43600E;
    }
    /*removes border last element*/
    nav.sidebar .navbar-nav > li.last{
      border-bottom: none;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

/*O quanto o menu irá esconder á esquerda*/
    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -270px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

/*     Allow main to be next to Nav
    .main{
      width: calc(100% - 200px); keeps 100% minus nav size
      margin-left: 200px;
    }

    Show all nav
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    Show hidden items on nav
    nav.sidebar .forAnimate{
      opacity: 1;
    } */
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  
  
  /*---- FIM SLIDE MENU*/
  
  .nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #FFF;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #000;
}
.nav-side-menu .brand {
  background-color: transparent;
  line-height: 25px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #000;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-side-menu a > span:hover{
    opacity:1;
    transform: translate3d(0,0,0);
    
}
.nav-side-menu{
      margin-left: -80px;
    top: 63px;
    left: 80px;
    width: 90px;
    background: #fff;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    border-right: solid 1px transparent;
    &:hover {
        width: 275px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
        a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}


@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 80px;
    margin-bottom: 10px;
    background-color: transparent;

  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22
    px;
    padding-left: 20px;
    line-height: 50px !important;

  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.brand p{
    color: #fff;
}