.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 23px;
  line-height: 1.00;
  border-radius: 50px;
  margin-top: 0.0em;
}

#secretsTable {
	width: 100%; 
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    -o-box-shadow: none; 
    box-shadow: none;
    margin-top: 1.5em;
    font-size: 15px;
}

#secretsTable th {
    vertical-align: middle; 
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    border-bottom-color: #de4f4f;
}

#secretsTable tr {
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border: 1px solid #fff; 
    background: #fff;
}

#secretsTable td {
    vertical-align: middle; 
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border-bottom-style: solid; 
    border-bottom-width:1px; 
    border-bottom-color: #ddd;
}