#playersTable {
	width: 100%;
	border-top-style: none;
	border-left-style: none; 
	border-right-style: none; 
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	-o-box-shadow: none; 
	box-shadow: none;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 15px;
}

#playersTable th {
    vertical-align: middle; 
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    border-bottom-color: #de4f4f;   
    color: black;
    text-transform: capitalize;
}

#playersTable tr {
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border: 1px solid #fff; 
    background: #fff;
}

#playersTable td {
    vertical-align: middle; 
    border-top-style: none; 
    border-left-style: none; 
    border-right-style: none; 
    border-bottom-style: solid; 
    border-bottom-width:1px; 
    border-bottom-color: #ddd;
}

label {
    font-weight: inherit;
}
