.app-nav {
  ul{
    li:hover{
      font-weight: bold;
    }
  }
}

//Bootstrap adds margin to the nav bar. We dont like it !
.navbar,
.navbar-default{
  margin-bottom: 0px;
  padding-bottom: 10px;
}


.sidebar-icon{
  width: 50px;
  height: 25px;
}